<div class="ui two column centered grid">
	<div class="column">
		
		<%= link_to new_document_path, :class => 'item' do %>
			<button class='ui right floated primary button'>
				<i class="add icon"></i>新增文件
			</button>
		<% end %>
		
		<div class="ui three stackable cards">
			<% @documents.each do |d|%>
				<%= link_to show_document_path(d), :class => 'ui card' do %>
					<div class="content">
					    <div class="header"><%= d.title %></div>
					    <div class="meta"><%= d.updated_at.in_time_zone("Taipei").strftime("%F %T") %></div>
						<div class="description"><%= d.content.html_safe %></div>
						
					</div>
				<% end %>
			<% end %>
		</div>
		
	</div>
</div>
