<div class="ui centered grid">
	<div class="four wide column">
		<div class="ui inverted vertical menu">
			<% @document.layers.each do |layer| %>
				<a id='layer-<%= layer.name %>' class='red item'><%= layer.name %></a>
			<% end %>
		</div>
	</div>
	<div class="eight wide column">
		<h1><%= @document.title %></h1>
		<div>
			<% sections = [] %>
			<% @document.layers.each do |layer| %>
				<% layer.sections.each do |section| %>
					<% sections.push(section) %>
				<% end %>
			<% end %>
			<% sections.sort_by! {|section| section[:order]} %>
			<% sections.each do |section| %>
				<%= section.content.html_safe %>
			<% end %>
		</div>
		

		<%= link_to edit_document_path(@document) do %>
			<button class="ui right floated button">
				<i class="edit icon"></i>編輯文件
			</button>
		<% end %>
		<%= link_to documents_path do %>
			<button class="ui button">
				返回
			</button>
		<% end %>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.item').click(function(e){
			$(this).toggleClass('active');
			classname = $(this).attr('id');
			$('.'+classname).toggleClass('hidden');
		});
	});	
</script>

<style>
	.hidden {
		display: none;
	}
</style>